body{
    background-color: bisque;
}

.box{
    height: 100%;
    width: 500px;
    border: 3px solid white;
    
   text-align: center;
    position :fixed;
    border-radius: 15px;
    background-color: white;
    left:10%;
    
   
    

}
h3{
    text-align: left;
    padding-left: 15px;
    border: 2px solid black;
}
#image{
    height: 200px;
    width: 470px;
    position: relative;
    text-align: center;
    border-radius: 15px;
    top: 10px;
    text-align: center;
}
h1{
    text-align: left;
    padding-left: 15px;
}
.box p{
    text-align: left;
    padding-left: 15px;
}
.pink1{
    padding-left: 20px;
    border: 2px solid rgba(191, 169, 169, 0);
    background-color: rgba(225, 179, 184, 0.245);
    text-align: left;
    border-radius: 15px;
    margin: 15px;
    
}
.ingredients{
    text-align: left;
    border:none;

}
h2{
    padding-left: 15px;
}

